html {
  font-size: 16px;
  box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #f598a8, #f6edb2);
}

* {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
label {
  font-size: 1.5rem;
  width: 100%;
  display: block;
}
.anime__title{
    text-transform: uppercase;
    font-size: 3em;
    line-height: 0;
}
.anime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50rem;
  margin: 0 auto;
  
}
.anime:hover .plus{
    opacity: 1;

}

.anime__input {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}
.anime-item {
  overflow: hidden;
  margin: 0 auto;
  width: 50rem;
  cursor: pointer;
  border-top: 2px solid #00BDA7;
}

.plus {
  transition: all 0.5s linear;
  margin-left: auto;
  margin-right: 0;
  display: block;
  opacity: 0;
}

.anime-img {
  margin-left: 2000px;
  transform: scale(0.6);
  transition: transform 1s linear;
}
.anime__input:checked ~ .anime-img {
  margin: 0 auto;
  transform: scale(1);
}
.anime__input:checked ~ label > .plus {
  transform: rotate(45deg);
}
