html {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.anime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anime__input {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}
.anime-item{
    overflow: hidden;
    width: 30rem;
  
}

.anime-img {
    margin-left: 2000px;
    transform: scale(0.6);
    transition: transform 1s linear;
}
.anime__input:checked +.anime-img{
   margin-left: auto;
   transform: scale(1);
}
